[submodule "linux/metasploitable3"]
	path = linux/metasploitable3
	url = git@github.com:ProfessionallyEvil/metasploitable3.git
[submodule "kali"]
	path = kali
	url = git@github.com:ProfessionallyEvil/packer-kali_linux.git
