# vagrant folders
.vagrant/
linux/packer/vagrant_files/*
!linux/packer/vagrant_files/.gitkeep

# vim file extentions
*.swp
*.swo

# formats for downloaded ovas/vms/isos
*.ova
*.iso
*.zip
*.box

# folders with downloaded content
metasploitable*_vm

# ignoring log files
*.log

# vmware install script
*.bundle
